
@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="wunderlistApp">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="icon" href="https://d2hkcehpyog59.cloudfront.net/44685ca8cfaade90d24f718bf876257562a21214/favicon.ico" type="image/x-icon">
    @Styles.Render("~/Content/UserProfile")
</head>
<body>
<div ng-controller="todoListController">
    <div id="lists">
        <div id="search"></div>
        <div id="userProfileSection">@ViewBag.UserProfileName</div>
        <ul>
            <li ng-repeat="todoList in TodoLists">
                <div>{{todoList.Name}}</div>
            </li>
        </ul>
        <div id="creationButton" ng-click="createForm()">Создать список</div>
    </div>
    <form id="createForm" name="creationForm">
        <div class="row">Создать cписок</div>
        <div class="row">
            <input id="TodoListName" ng-model="TodoList.Name" required placeholder="Введите название списка дел" />
        </div>
        <div class="row buttons">
            <button type="button" ng-click="cancel()" class="cancelButton">Отмена</button>
            <button type="submit" ng-click="save(TodoList, creationForm)" class="submitButton">Сохранить</button>
        </div>
    </form>
</div>
    

<div id="overlay"></div>
@Scripts.Render("~/bundles/profile")
</body>
</html>


    
